@page "/"

<div style="height:20px;"></div>

<a href="/static-er">&#8680; Erfolgsrechnung für einzelne Jahre</a>

<div style="height:20px;"></div>

<a href="/timeline-er">&#8680; Erfolgsrechnung mit Jahresvergleich</a>

<div style="height:20px;"></div>

<a href="/scenario">&#8680; Szenario Generator</a>




