
@page "/scenario"
@inject NavigationManager NavigationManager

<h3>Szenario Generator</h3>
<div style="height: 25px;"></div>

<h5>Basisjahr festlegen</h5>
<div style="height: 10px;"></div>

<div class="black-border-chip"
     style="max-width: 350px;">
    <label>
        Basisjahr
        <input class="form-control"
               type="number"
               name="baseyear"
               @bind="financialYear" />
    </label>

    <input class="btn btn-success"
           style="margin-left: 5px;"
           type="submit"
           value="Weiter"
           @onclick="() => { OnSaveFinancialYear(); }" />
</div>


<div style="height: 10px;"></div>

@if (showError)
{
    <p style="color: red;">
        Das Basisjahr muss mind. @Const.OldestFinanceYear und max. @Const.NewestFinancialYear betragen.
    </p>
}

@code {

    int financialYear = 2016;
    bool showError = false;

    public void OnSaveFinancialYear()
    {
        if (financialYear >= Const.OldestFinanceYear &&
            financialYear <= Const.NewestFinancialYear)
        {
            NavigationManager.NavigateTo($"scenario/settings/{financialYear}");
        }
        else
        {
            showError = true;
        }
    }

}
