
@page "/scenario"
@inject NavigationManager NavigationManager

<h3>Szenario Generator</h3>
<div style="height: 15px;"></div>

<label>
    Basisjahr eingeben:
    <input class="form-control"
           type="number"
           name="baseyear"
           @bind="FinancialYear" />
</label>

<input class="btn btn-success"
       style="margin-left: 5px;"
       type="submit"
       value="Weiter"
       @onclick="() => { OnSaveFinancialYear(); }" />

<div style="height: 10px;"></div>

@if (ShowError)
{
    <p style="color: red;">
        Das Basisjahr muss mind. 2015 und max. 2018 betragen.
    </p>
}

@code {

    int FinancialYear = 2016;
    bool ShowError = false;


    public void OnSaveFinancialYear()
    {
        if (FinancialYear >= 2015 && FinancialYear <= 2018)
        {
            NavigationManager.NavigateTo($"scenario/settings/{FinancialYear}");
        }
        else {
            ShowError = true;
        }
    }

}
